<div class="question">
  <div class="question-content">
    <div class="question-text text-lead">
      <%= question.text %>
    </div>

    <% if question.answer.present? %>
      <div class="question-answer text-lead">
        <%= question.answer %>
      </div>
    <% end %>

    <div class="question-bottom">
      <div class="question-date">
        <time title="Задан: <%= question.created_at.strftime('%d %b. %Y, в %H:%M') %>">
          <%= question.created_at.strftime('%d %b') %>
        </time>
      </div>
      <% if question.author_id.present? %>
      <div class="question-author">
          <% user = user_by_id(question.author_id)%>
          <%= link_to "@#{user.username}", user_path(user) %>
      </div>
      <% end %>
    </div>
  </div>

  <% if question.user == current_user %>
    <% edit_icon = question.answer.blank? ? 'reply' : 'pencil-alt' %>

    <div class="question-actions">
      <%= link_to fa_icon(edit_icon), edit_question_path(question) %>
      <%= link_to fa_icon('trash'), question_path(question),
                  method: :delete, data: {confirm: 'Точно удалить вопрос?'} %>
    </div>
  <% end %>
</div>
